<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="style.css">
	</head>
    <body>
       <h1>Image gallery</h1>
       <div class="container">
			<div class="gal">
				<div class="gal-item">
				<img src="pics/1.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/2.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/3.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/4.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/5.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/6.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/7.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/8.jpg" class="gal-img">
				</div>
				
				<div class="gal-item">
				<img src="pics/9.jpg" class="gal-img">
				</div>
			</div>
		</div>
    </body>
</html>
